p{
    color:white;
    text-decoration:none;
    letter-spacing:3px;
    text-size-adjust:inherit;
    font-size: xx-large;
    background-color:black;
    text-align: center;
}

h1{
    color:blue;
    background-color:hotpink;
    padding-top: 6%;
    height: 20%;
    font-size: xx-large;
    text-align: center;
}